description     "supervisord"


{% if disable_django_services -%}
{% else %}
start on runlevel [2345]
{% endif %}
stop on runlevel [!2345]

kill timeout 432000

setuid {{ supervisor_service_user }}
exec {{ supervisor_venv_dir }}/bin/supervisord -n --configuration {{ supervisor_cfg }}
